.card-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.gameboard {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  text-align: center;
  margin: 3% 5%;
}

.highlight {
  border: 1px solid black;
}

.non-visible {
  visibility: hidden;
}

.board-card {
  width: 60%;
}

.took-card {
  width: 40%;
}