.gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 5% 10%
}

.highlight {
  border: 1px solid black;
}

.non-visible {
  visibility: hidden;
}

img {
  width: 60%;
}